<div class="container" style="margin-top: 1rem;">
	<h2>Crear/Editar contacto</h2>
	<div class="row">
		<div class="col-8">
			<form>
				<div style="margin-bottom: 1rem;">
					<label>
						Nombre y apellido
					</label>
					<br>
					<input type="text" 
						   ng-model="contacto.nombre" 
						   class="form-control"
						   >
				</div>
				<div style="margin-bottom: 1rem;">
					<label>
						Teléfono
					</label>
					<br>
					<input type="text" 
						   ng-model="contacto.telefono" 
						   class="form-control"
						   >
				</div>
				<div style="margin-bottom: 1rem;">
					<label>
						Celular
					</label>
					<br>
					<input type="text" 
						   ng-model="contacto.celular" 
						   class="form-control"
						   >
				</div>
				<div style="margin-bottom: 1rem;">
					<label>
						Email
					</label>
					<br>
					<input type="text" 
						   ng-model="contacto.email" 
						   class="form-control"
						   >
				</div>
				<div style="margin-bottom: 1rem;">
					<label>
						Dirección
					</label>
					<br>
					<input type="text" 
						   ng-model="contacto.direccion" 
						   class="form-control"
						   >
				</div>
				<div>
					<button class="btn btn-success" ng-click="guardar()">Guardar</button>
					<a href="/#!/" class="btn btn-default">Cancelar</a>
				</div>
			</form>
		</div>
		<div class="col-4"></div>
	</div>
</div>