<div class="container" style="margin-top: 1rem;">
	<h2>{{titulo}} <a href="/#!/contacto/new" class="btn btn-secondary" style="float: right;">+ Contacto</a></h2>
	<table class="table">
		<thead>
			<tr>
				<th colspan="6">
					<input type="text" name="" placeholder="Buscar contacto ..." class="form-control">
				</th>
			</tr>
			<tr>
				<th>Nombre y apellido</th>
				<th>Teléfono</th>
				<th>Celular</th>
				<th>Email</th>
				<th>Dirección</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contacto in contactos">
				<td>{{contacto.nombre}}</td>
				<td>{{contacto.telefono}}</td>
				<td>{{contacto.celular}}</td>
				<td>{{contacto.email}}</td>
				<td>{{contacto.direccion}}</td>
				<td>
					<a ng-href="/#!/contacto/edit/{{contacto._id}}" class="btn btn-primary">Editar</a>
					<a href="#" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>