<div class="container">
	<form class="row" style="margin-top: 2rem;">
		<div class="col-4"></div>
		<div class="col-4">
			<h2>{{titulo}}</h2>
			<div class="row" style="margin-bottom: 1rem">
				<input type="text" ng-model="usr.usuario" class="form-control" placeholder="Usuario">
				<br>
			</div>
			<div class="row" style="margin-bottom: 1rem">
				<input type="password" ng-model="usr.clave" class="form-control" placeholder="Clave">
				<br>
			</div>
			<div class="row">
				<button class="btn btn-success col-12" ng-click="loginUsuario()">Ingresar</button>
			</div>
		</div>
		<div class="col-4"></div>
	</form>
</div>