<form class="row" style="margin-top: 2rem;">
	<div class="col-3"></div>
	<div class="col-6">
		<h2>Crear/Editar Persona</h2>
		<div class="row" style="margin-bottom: 0.5rem">
			<input type="text" ng-model="persona.nombre" name="nombre" placeholder="Nombre" class="form-control">
		</div>
		<div class="row" style="margin-bottom: 0.5rem">
			<input type="number" ng-model="persona.edad" name="edad" placeholder="Edad" class="form-control">
		</div>
		<div class="row" style="margin-bottom: 0.5rem">
			<input type="number" ng-model="persona.documento" name="documento" placeholder="Documento" class="form-control">
		</div>
		<div class="row">
			<button class="btn btn-success" ng-click="guardarPersona()">Guardar</button>
			<a class="btn btn-default" ng-click="goBack()">Cancelar</a>
		</div>
	</div>
	<div class="col-3"></div>
</form>