<div class="container" style="margin-top: 2rem;">
	<h2>{{titulo}} <a class="btn btn-secondary" style="float: right;" href="#!/personas/new">+ Persona</a></h2>
	<table class="table" ng-if="showTable">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Documento</th>
				<th></th>
			</tr>
			<tr>
				<th></th>
				<th>
					<input type="text" name="" ng-model="q.nombre" class="form-control">
				</th>
				<th>
					<input type="text" name="" ng-model="q.edad" class="form-control">
				</th>
				<th>
					<input type="text" name="" ng-model="q.documento" class="form-control">
				</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="5">
					<input type="text" name="" ng-model="q" placeholder="Buscar ..." class="form-control">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="persona in personas | filter: q">
				<td>{{persona._id}}</td>
				<td>{{persona.nombre}}</td>
				<td>{{persona.edad}}</td>
				<td>{{persona.documento}}</td>
				<td>
					<button class="btn btn-primary" ng-click="editarPersona(persona)">Editar</button>
					<button class="btn btn-danger" ng-click="eliminarPersona(persona)">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>